<form [formGroup]="rateForm" fxLayoutAlign="center center">
  <mat-card class="card">
    <mat-card-header>
      <div mat-card-avatar class="header-image"></div>
      <mat-card-title>FX Rates Widget</mat-card-title>
      <mat-card-subtitle><i>Powered by exchangeratesapi.io</i></mat-card-subtitle>
    </mat-card-header>
    <button mat-button [style.background]="isBuy.value ? 'green' : 'None'" (click)="toggle(true)">BUY</button>
    <button mat-button [style.background]="!isBuy.value ? 'red' : 'None'" (click)="toggle(false)">SELL</button>
    <mat-card-content>
      <div fxLayout="row" fxLayoutGap="10px">
        <mat-form-field>
          <mat-label>Buy/Sell Currency</mat-label>
          <mat-select formControlName="buySellCurr">
            <mat-option *ngFor="let curr of currs" [value]="curr.value">{{curr?.name}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Amount</mat-label>
          <input matInput type="number" formControlName="buySellAmount" placeholder="0.00">
        </mat-form-field>
      </div>
      <div fxLayout="row" fxLayoutGap="10px">
        <mat-form-field>
          <mat-label>Offer Currency</mat-label>
          <mat-select formControlName="offerCurrency">
            <mat-option *ngFor="let curr of currs" [value]="curr.value">{{curr?.name}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Amount</mat-label>
          <input matInput type="number" [formControl]="offerRate" placeholder="0.00" readonly="true">
        </mat-form-field>
      </div>
    </mat-card-content>
    <div fxLayoutAlign="end">
      <p><i>1{{ buySellCurr?.value}} = {{ exchangeValue?.value }} {{ offerCurrency?.value }}</i></p>
    </div>
  </mat-card>
</form>